.lists {
  display: flex;
  margin-top: 50px;
  align-content: center;
  list-style: none;
  justify-content: space-around;
}

.list-wrapper {
  margin-right: 25px;
  width: 25%;
}

.list-wrapper > h2 {
  align-content: center;
}

.task-cards {
  list-style: none;
}